@charset "utf -8";

/*
=============================
         common
=============================
*/

 * {
   box-sizing: border-box;
   }

html {
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
}

.sidebar {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: rgba(40,57,101,.9);
}

.main{
    
    float: right;
    width: 80%;
    height: 100%;
    background-color: white;
}

.main1{
  position: relative;
  float: right;
  width: 80%;
  height: 100%;
  background-color: white;
}

.content {
    padding: 10px 100px;
}

.content1 {
  padding: 13px 15px;
  position: fixed;
}
.formContainer12 #btnbtn {
  position: fixed;
  bottom: 70px;
  right: 11.5%;
}

.formContainer12 {
  height: 520px;
  border-radius: 5px;
  background-color: #6a6f8c;
  padding: 16px;
  margin: 125px;
  margin-top: -2%;
  width: 725px;
}
.formContainer12 #myInput11 {
  width: 530px;
  height: 50px;
  position: fixed;
  bottom: 55px;
  left: 32%;
}
/*
=============================
         sidebar
=============================
*/

.appName {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: white;
}

.appName a {
    text-decoration: none;
    color: white;
    
}

.appName a:hover {
     color: #f4511e;
}

ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    border-bottom: 1px solid #f4511e;
    padding-left: 30px;
    line-height: 60px;
}

ul li:first-child {
    border-top: 1px solid #f4511e;

}

ul li:hover {
    background-color: #f4511e;
}

ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    display: block;
    line-height: 60px;
    position: relative;
    left: 75px;
}

.active {
    background-color: #f4511e;
}

#title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-top: 23px;
}

#btnbtn {
  
    background-color: #24751d;
    color: white;
    padding: 15px 55px;
    border: none; 
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
    float: right;
    margin-right: 45px;
}

#btnbtn1 {
  
  background-color: #24751d;
  color: white;
  padding: 15px 55px;
  border: none; 
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  float: left;
  margin-right: 45px;
}

.formContainer {
    border-radius: 5px;
    background-color: #6a6f8c;
    padding: 20px;
    height: 490px;
    margin-top: -2%;
  }

  .formContainer123 {
    border-radius: 5px;
    background-color: #6a6f8c;
    padding: 90px;
    height: 490px;
    margin-top: -2%;
  }
  input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=autocomplete] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .formContainer12 #replyBox {
    position: relative;
    height: 420px;
    overflow: auto;
    max-width: 100%;
  }

  .formContainer1 {
    border-radius: 5px;
    background-color: #6a6f8c;
    height: 590px;
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    
  }

  .formContainer2 {
    border-radius: 5px;
    background-color: #6a6f8c;
    height: 460px;
    width: 96%;
    padding: 20px;
    margin: 1px;
    
  }
  #add {
    width: 650px;
  }

  #remove {
    width: 650px;
  }

  #btnAdd{
    width: 147px;
    height: 42px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

  }

  #btnRemove{
    width: 147px;
    height: 42px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

  }

  input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  #btn1 {
    background-color: #24751d;
    color: white;
    padding: 15px 55px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    float: left;
    
  }
  .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #2C3E50;
    border-radius: 10px;
    margin-left: -10%;
    position: relative;
    right: 55px;
  }



  input[type=button] {
    background-color: #f4511e;
    color: white;
    padding: 15px 55px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    float: right;
    
  }

  #renamebtn {
    background-color: #f4511e;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    float: right;
    height: 45px;
  }

  #renamebtn2 {
    background-color: #f4511e;
    color: white;
    padding: 12px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    float: left;
    height: 45px;
  }



 #spec{
   font-family: 'Courier New', Courier, monospace;
   font-size: 30px;
   color: #ddd;
 }

 #para {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: #ddd;
 }

 #myInput1 {
    background-image: url('../Images/toolbar_find.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;

  }

  #myTable1 {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

  #myTable1 tbody {
    display:block;
    width: 980px;
    overflow: auto;
    height:  320px;
  }

  #myTable1 thead tr {
    display: block;
  }

  #myTable1 th {
    color: aliceblue;
  }
  
  #myTable1 th, #myTable1 td{
    text-align: left;
    padding: 12px;
    width: 270px;
  }
  
  #myTable1 tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  #myTable1 td{
    font-family: cursive;
    font-size: 90%;
  }
  
  #myTable1 tr:hover {
    background-color: #f1f1f1;
  }

  
#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center;
    border-radius: 2px; 
    padding: 16px; 
    position: fixed;
    z-index: 1; 
    left: 50%;
    bottom: 30px; 
  }
  
  
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #snackbar2 {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center;
    border-radius: 2px; 
    padding: 16px; 
    position: fixed;
    z-index: 1; 
    left: 50%;
    bottom: 30px; 
  }
  
  
  #snackbar2.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #snackRetract {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center;
    border-radius: 2px; 
    padding: 16px; 
    position: fixed;
    z-index: 1; 
    left: 50%;
    bottom: 30px; 
  }
  
  
  #snackRetract.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
 
  .tile_div a {
    display: block;
    float: left;
    height: 40px;
    width: 100px;
    margin-right: 5px;
    background-color: #f4511e;
    text-align: center;
    color: aliceblue;
    padding: 10px 15px;
    border-radius: 3px;
    font-family: cursive;
}

#deleteBtn {
  position: absolute;
  top: 4%;
  right: 14%;
  background-color: red;
}

#replySnack {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center;
  border-radius: 2px; 
  padding: 16px; 
  position: fixed;
  z-index: 1; 
  left: 50%;
  bottom: 30px; 
}


#replySnack.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.modal {
  display: none;  /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 170px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #f4511e;
  margin: auto;
  padding: 10px 10px;
  border: 1px solid #f4511e;
  border-radius: 7px;
  width: 45%;
  height: 50%;
 
}
.modal-content #text{
  padding-top: 6%;
  font-size: 20px;
}

/* The Close Button */
.close {
  color: #2C3E50;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

#btn1 {
  background-color: #24751d;
  color: white;
  padding: 15px 55px;
  border: none; 
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  float: right;
  margin-right: 45px;
  position: fixed;
  bottom: 40%;
  left: 28.5%;
}

#btn2 {
  background-color: #2C3E50;
  color: white;
  padding: 15px 55px;
  border: none; 
  border-radius: 25px;
  cursor: pointer;
  
  }
  
  #myUL {
  font-size: 20px;
  float: right;
  margin-right: 45px;
  position: fixed;
  bottom: 40%;
  right: 25%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.alert {
  padding: 15px; 
  margin-top: -4%;
  background-color: #f44336;
  color: white;
  height: 50px;
  width: 855px;
  position: absolute;
  top: 12%;
  right: 7.5%;
  font-family: cursive;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  display: none;
}

.alert1 {
  padding: 15px; 
  margin-top: -4%;
  background-color: #f44336;
  color: white;
  height: 50px;
  width: 545px;
  position: absolute;
  top: 9.5%;
  right: 32%;
  font-family: cursive;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  display: none;
  
}
.closebtn1 {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn1:hover {
  color: black;
}

/*  */

#AddBtn {
  position: absolute;
  width: 95px;
  height: 43px;
  right: 56%;
  top: 72.5%;
  padding: 10px 5px;
}

#btnbtn123 {
  
  background-color: #24751d;
  color: white;
  padding: 15px 55px;
  border: none; 
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  float: left;
  margin-left: 10%;
  top: 510%;
}






